In [1]:
print("Hacktiv8")

Hacktiv8

## Integer

Integer adalah tipe data yang berupa angka

In [1]:
print(123123123123123123)

123123123123123123

In [2]:
type(10)

int

## Floating point

adalah tipe data berupa angka desimal

4.2

In [4]:
type(4.2)

float

In [5]:
4.0

4.0

In [6]:
.2

0.2

In [7]:
.4e7

4000000.0

In [8]:
4.2e-4

0.00042

## String

String adalah tipe data python yang berupa sequence of character

In [9]:
print('ini adalah data string')

ini adalah data string

In [10]:
type('ini adalah data string')

str

In [11]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

In [12]:
print('This string contains a double quote (") character.')

This string contains a double quote (") character.

## Boolean

adalah tipe data di Python yang berupa True or False

In [15]:
True

True

In [16]:
False

False

In [17]:
type(True)

bool

In [19]:
type(False)

bool

In [20]:
type('true')

str

In [21]:
type(1)

int

In [22]:
type('1')

str

## Variables

In [24]:
n = 300

In [25]:
n

300

In [26]:
print(n)

300

In [27]:
n = k =300

In [28]:
print(n,k)

300 300

## Variable names

In [29]:
name = 'Harris'
age = 30
has_laptops = True
print(name, age, has_laptops)

Harris 30 True

In [30]:
9_kepala_naga = True

SyntaxError: invalid token (<ipython-input-30-737512de54da>, line 1)

In [31]:
bola_naga_9 = True

In [32]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## Operators and Expressions in Python

In [34]:
a = 10
b = 20

In [35]:
a+b

30

In [36]:
a+b-5

25

## Aritmethic Operators

In [39]:
a = 4
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

In [38]:
10/5

2.0

## Comparison Operators

In [40]:
a = 10
b = 20

print(a == b) ##sama dengan
print(a != b) ##tidak sama dengan
print(a <= b)
print(a >= b)

False
True
True
False

## String Manipulation

In [41]:
# + Operators

s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

foobar

In [42]:
s + t + u

'foobarbaz'

In [44]:
print('Hacktiv8 '+"Inalum")

Hacktiv8 Inalum

In [45]:
# * Operator

s * 4

'foofoofoofoo'

In [46]:
# in Operators

s = 'foo'

s in 'That food for us'

True

In [47]:
s in 'That good for us'

False

In [54]:
# Case Conversion

s = 'HacKTivAte iNAlum'

In [55]:
s

'HacKTivAte iNAlum'

In [56]:
s.capitalize()

'Hacktivate inalum'

In [57]:
# Title

s.title()

'Hacktivate Inalum'

In [58]:
# lower 
print(s.lower())

# UPPERCASE
print(s.upper())

hacktivate inalum
HACKTIVATE INALUM

In [59]:
# Swap case

s.swapcase()

'hACktIVaTE InaLUM'

In [60]:
s.lower()

'hacktivate inalum'

In [61]:
s.upper()

'HACKTIVATE INALUM'

## LIST

ditandain dengan adanya []

In [63]:
a = ['foo', 'bar', 'baz', 'qux']

In [64]:
a

['foo', 'bar', 'baz', 'qux']

In [65]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [66]:
a

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [69]:
b = ['foo', 'bar', 'baz', 'qux', 'quux','corge']

In [70]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [71]:
b[0]

'foo'

In [72]:
b[5]

'corge'

In [73]:
b[-1]

'corge'

In [74]:
b[-6]

'foo'

In [76]:
## Slicing

b[2:5]

['baz', 'qux', 'quux']

In [77]:
b[0:5]

['foo', 'bar', 'baz', 'qux', 'quux']

In [78]:
b[:5]

['foo', 'bar', 'baz', 'qux', 'quux']

In [79]:
b[2:]

['baz', 'qux', 'quux', 'corge']

In [80]:
print(b)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [81]:
b + ['value1', 'value2']

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'value1', 'value2']

In [82]:
b * 2

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

In [83]:
print(b)

len(b)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

6

In [84]:
min(b)

'bar'

In [85]:
max(b)

# urutan paling jauh a-z atau nilai angka yang paling besar

'qux'

In [86]:
c = [1, 2, 3, 4, 5]
print(min(c))
print(max(c))

1
5

## Modifying single list value

In [87]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [89]:
b[2] = 10

In [90]:
b

['foo', 'bar', 10, 'qux', 'quux', 'corge']

In [91]:
b[-1] = 20

In [92]:
b

['foo', 'bar', 10, 'qux', 'quux', 20]

In [93]:
del b[3]

In [94]:
b

['foo', 'bar', 10, 'quux', 20]

### Modifying multiple list

In [96]:
b

['foo', 'bar', 10, 'quux', 20]

In [97]:
b[1:4]

['bar', 10, 'quux']

In [98]:
b[1:4] = [1.1, 2.2, 3.3]

In [99]:
b

['foo', 1.1, 2.2, 3.3, 20]

## Tuples

In [100]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [102]:
t[0]

'foo'

In [103]:
t[-1]

'corge'

In [104]:
t[0] = 'newValue'

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [111]:
identitas = {
    'Fname' : 'Harris',
    'Lname' : 'Aditya',
    'Age' : 30
}

In [112]:
identitas

{'Fname': 'Harris', 'Lname': 'Aditya', 'Age': 30}

In [113]:
identitas['Age']

30

In [114]:
identitas['Fname']

'Harris'

In [115]:
identitas['Alamat']

KeyError: 'Alamat'

In [117]:
identitas['Pekerjaan'] = 'Guru'

In [118]:
identitas

{'Fname': 'Harris', 'Lname': 'Aditya', 'Age': 30, 'Pekerjaan': 'Guru'}

In [119]:
identitas['Pekerjaan'] = 'Data Scientist'

In [120]:
identitas

{'Fname': 'Harris',
 'Lname': 'Aditya',
 'Age': 30,
 'Pekerjaan': 'Data Scientist'}

In [121]:
del identitas['Pekerjaan']

In [122]:
identitas

{'Fname': 'Harris', 'Lname': 'Aditya', 'Age': 30}

In [123]:
person = {}

In [124]:
type(person)

dict

In [125]:
person['fname'] = 'Nama depan',
person['lname'] = 'Nama belakang'
person['age'] = 51,
person['children'] = ('Anak 1', 'Anak 2', 'Anak 3')

In [126]:
person

{'fname': ('Nama depan',),
 'lname': 'Nama belakang',
 'age': (51,),
 'children': ('Anak 1', 'Anak 2', 'Anak 3')}

In [128]:
person['pets'] = {'dog':'dogName','cat' : 'catName'}

In [129]:
person

{'fname': ('Nama depan',),
 'lname': 'Nama belakang',
 'age': (51,),
 'children': ('Anak 1', 'Anak 2', 'Anak 3'),
 'pets': {'dog': 'dogName', 'cat': 'catName'}}

In [130]:
person['age']

(51,)

In [132]:
person['children'][1]

'Anak 2'

In [133]:
person['pets']['cat']

'catName'

In [134]:
d = [1, 2, 3,[4,5,6],7]

In [135]:
d[3]

[4, 5, 6]

In [136]:
d[3][0]

4

In [138]:
d = {'a':10,'b':20,'c':30}

In [139]:
d

{'a': 10, 'b': 20, 'c': 30}

In [140]:
#keys

d.keys()

dict_keys(['a', 'b', 'c'])

In [141]:
# values

d.values()

dict_values([10, 20, 30])

In [143]:
# Pyton Statements

print('Hello World!')

x= [1,2,3]

Hello World!

In [145]:
# Line Continuation

person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age<= 65) or (person2_age >= 18 and person2_age<= 65) or (person3_age >= 18 and person3_age<= 65)
someone_is_of_working_age

True

In [146]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age<= 65) or
    (person2_age >= 18 and person2_age<= 65) or
    (person3_age >= 18 and person3_age<= 65)
)

someone_is_of_working_age

True

In [150]:
a = [[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9]]

In [151]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [152]:
a

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]

In [153]:
s=\
    "Hello World!"

In [154]:
s

'Hello World!'

In [163]:
# Multiple Statement per Line

x = 1; y = 2; z = 3
print(x);print(y);print(z)

1
2
3

In [158]:
# Comments

a = ['foo', 'bar'] # variabel a berisi list foo dan bar

In [159]:
a

['foo', 'bar']

In [160]:
b = '#i am not comment'

In [161]:
b

'#i am not comment'

In [162]:
"""
Initialize value for radius of circle

Then calculate the area of the circle
and display the result to the notebook


"""

pi = 3.14
r = 12

area = pi * (r ** 2)
print('The area of circle is', area)

The area of circle is 452.16

## Conditional

In [48]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [2]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner Condition 1')
        
    print('Between inner condition')
    
    if 10 < 20:
        print('Inner Condition 2')
        
    print('End of outer condition')
    
print('After outer condition')

Outer condition is true
Between inner condition
Inner Condition 2
End of outer condition
After outer condition

In [3]:
# else and elif

if <expr>:
    <statement>
else:
    <statement>

SyntaxError: invalid syntax (<ipython-input-3-67a1bd474007>, line 3)

In [4]:
x = 20

if x < 50:
    print('x is small')
else:
    print('x is large')

x is small

In [5]:
x = 20

if x > 50:
    print('x is small')
else:
    print('x is large')

x is large

In [6]:
if <expr>:
    <statement>
elif <expr>:
    <statement>
elif <expr>:
    <statement>
elif <expr>:
    <statement>
...
else <statement>

SyntaxError: invalid syntax (<ipython-input-6-98e4758e790f>, line 1)

In [7]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print('I Dont Know')

Hello Hacktiv8

In [9]:
if "a" in 'bar':
    print('right')
elif 1/0:
    print('wrong')
elif var:
    print('wrong also')

right

In [11]:
# One line if statement

if <expr>:
    <statement>
    
if <expr>: <statement>
if <expr>: <statement1>; <statement2>; <statement3>; <statementn>

SyntaxError: invalid syntax (<ipython-input-11-f273303e4371>, line 3)

In [12]:
if 'f' in 'foo' : print('1'); print('2'); print('3')

1
2
3

In [13]:
x = 2

if x == 1: 
    print('foo')
    print('bar')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

qux
quux

In [14]:
## Ternary Operator

<expr1> if <condt_expr> else <expr2>

SyntaxError: invalid syntax (<ipython-input-14-53f7f708101a>, line 3)

In [15]:
age = 12
'teen' if age < 21 else 'adult'

'teen'

In [16]:
if a > b:
    m = a
else:
    m = b
    
m = a if a > b else b

NameError: name 'a' is not defined

In [19]:
## Pass Statement

if True:
    pass
    
print('foo')

foo

## Iterasi

In [ ]:
## While

while <expr>:
    <statement>

In [2]:
n = 5

while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [1]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop Ended')

4
3
Loop Ended

In [3]:
n = 5

while n > 0: #4
    n -= 1 #4 #3 #2
    if n == 2: #4 !=2
        continue #Pass
    print(n)
    
print('Loop Ended')

4
3
1
0

In [ ]:
# else clause

while <expr>:
    <statement>
else:
    <additional_statement>

In [4]:
n = 5

while n > 0:
    n -= 1
    print(n)
else:
    print('Loop Ended')

4
3
2
1
0
Loop Ended

In [5]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
else:
    print('Loop Ended')

4
3

In [6]:
# one line while loops

n = 5

while n > 0: n -= 1; print(n)

4
3
2
1
0

In [ ]:
# For Loops

for <var> in <iterable>:
    <statement>

In [7]:
a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [8]:
d = {'foo' : 1, 'bar' : 2, 'baz' : 3}

for k in d:
    print(k)

foo
bar
baz

In [9]:
for k in d:
    print(d[k])

1
2
3

In [10]:
d['foo']

1

In [11]:
for v in d.values():
    print(v)

1
2
3

In [16]:
# range function

x = range(10)

In [17]:
x

range(0, 10)

In [18]:
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [19]:
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# break dan continue

In [23]:
for i in ['foo', 'bar', 'baz']:
        if 'z' in i:
              break
        print(i)

foo
bar

In [25]:
for i in ['foo', 'bar', 'baz', 'qux']:
        if 'z' in i:
              continue
        print(i)

foo
bar
qux

In [26]:
for i in ['foo', 'bar', 'baz']:
        print(i)
else:
    print('done')

foo
bar
baz
done

In [30]:
for i in ['foo', 'bar', 'baz','qux']:
        if 'z' in i:
              break
        print(i)
else:
    print('done')

foo
bar

In [29]:
for i in ['foo', 'bar', 'baz', 'qux']:
        if 'z' in i:
              continue
        print(i)
else:
    print('done')

foo
bar
qux
done

In [44]:
temp = input('Ketikan temperatur yang ini dikonversi, eg. 45F, 28C: ')
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("masukan input yang benar")
    
print("Temperaturnya adalah", result)

Ketikan temperatur yang ini dikonversi, eg. 45F, 28C: 37C
Temperaturnya adalah 99

In [39]:
result

96.8

In [43]:
result

7

In [49]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == 'stop':
        break

Ketikan karakter: a
a
Ketikan karakter: a
a
Ketikan karakter: stop
stop

In [50]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 0657-DD84

 Directory of C:\Users\SBP

25/04/2020  15:17    <DIR>          .
25/04/2020  15:17    <DIR>          ..
25/04/2020  15:20    <DIR>          .conda
25/04/2020  13:17                43 .condarc
22/04/2020  14:59    <DIR>          .idlerc
25/04/2020  09:26    <DIR>          .ipynb_checkpoints
21/04/2020  18:46    <DIR>          .ipython
25/04/2020  10:28    <DIR>          .jupyter
31/03/2020  10:11    <DIR>          3D Objects
31/03/2020  10:11    <DIR>          Contacts
24/04/2020  17:15    <DIR>          Desktop
20/04/2020  14:06    <DIR>          Documents
25/04/2020  15:00    <DIR>          Downloads
31/03/2020  10:11    <DIR>          Favorites
22/04/2020  17:22               576 kalkulasi.py
31/03/2020  10:11    <DIR>          Links
31/03/2020  10:11    <DIR>          Music
26/03/2020  13:19    <DIR>          OneDrive
31/03/2020  10:11    <DIR>          Pictures
25/04/2020  15:17            60.887 S1.ipynb
31/03/2020  10:11    <DIR>          Saved Games
31/03/2020  10:11    <DIR>          Searches
21/04/2020  18:55             1.562 Untitled.ipynb
22/04/2020  15:12                72 Untitled1.ipynb
22/04/2020  17:22             8.825 Untitled2.ipynb
06/04/2020  21:12    <DIR>          Videos
               6 File(s)         71.965 bytes
              20 Dir(s)  37.659.049.984 bytes free